@{
    var controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Webpixels">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <title>Vacancy :: Admin Panel</title>

    <link rel="stylesheet" href="~/Areas/Manage/Public/assets/vendor/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="~/Areas/Manage/Public/assets/vendor/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

    <link rel="stylesheet" href="~/Areas/Manage/Public/assets/vendor/charts-c3/plugin.css" />
    <link rel="stylesheet" href="~/Areas/Manage/Public/assets/vendor/jvectormap/jquery-jvectormap-2.0.3.css" />
    <link rel="stylesheet" href="~/Areas/Manage/Public/assets/css/main.css" type="text/css">
    <link rel="stylesheet" href="~/Areas/Manage/Public/assets/css/style.css" type="text/css">
</head>

<body class="theme-indigo">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <p>Please wait...</p>
        </div>
    </div>

    <nav class="navbar custom-navbar navbar-expand-lg py-2">
        <div class="container-fluid px-0">
            <a href="javascript:void(0);" class="menu_toggle"><i class="fa fa-align-left"></i></a>
            <a href="@Url.Action("index", "dashboard")" class="navbar-brand">
                <img src="~/Areas/Manage/Public/assets/images/brand/icon.svg" alt="BigBucket" />
                <strong>Admin</strong> Panel
            </a>
            <div id="navbar_main">
                <ul class="navbar-nav mr-auto hidden-xs">
                    <li class="nav-item page-header">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home"></i></a></li>
                            <li class="breadcrumb-item active">
                                @{
                                    switch (controllerName)
                                    {
                                        case "dashboard":
                                            <span>Ana Səhifə</span>
                                            break;

                                        case "about":
                                            <span>Haqqımızda</span>
                                            break;

                                        case "contact":
                                            <span>Bizimlə Əlaqə</span>
                                            break;

                                        case "categories":
                                            <span>Kateqoriyalar</span>
                                            break;

                                        case "companies":
                                            <span>Şirkətlər</span>
                                            break;

                                        case "vacancies":
                                            <span>Vakansiyalar</span>
                                            break;

                                        case "subscribers":
                                            <span>İzəyicilərimiz</span>
                                            break;

                                        case "partners":
                                            <span>Tərəfdaşlarımız</span>
                                            break;

                                        case "services":
                                            <span>Xidmətlərimiz</span>
                                            break;

                                        case "messages":
                                            <span>Mesajlar</span>
                                            break;

                                        default:
                                            <span>Ana səhifə</span>
                                            break;
                                    }
                                }
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="main_content" id="main-content">

        <div class="left_sidebar">
            <nav class="sidebar">
                <div class="user-info">
                    <div class="detail">
                        <h5 class="mb-0">Nuri Akhmad</h5>
                        <small>Admin</small>
                    </div>
                </div>
                <ul id="main-menu" class="metismenu">
                    <li class="g_heading">Əsas</li>
                    <li class="@(controllerName == "dashboard"?"active":"")"><a href="@Url.Action("index", "dashboard", new { Area="manage" })"><i class="fas fa-home"></i><span>Ana Səhifə</span></a></li>
                    <li class="@(controllerName == "about"?"active":"")"><a href="@Url.Action("index", "about", new { Area="manage" })"><i class="fas fa-address-card"></i><span>Haqqımızda</span></a></li>
                    <li class="@(controllerName == "contact"?"active":"")"><a href="@Url.Action("index", "contact", new { Area="manage" })"><i class="fas fa-phone-square"></i><span>Bizimlə Əlaqə</span></a></li>
                    <li class="g_heading">List №1</li>
                    <li class="@(controllerName == "categories"?"active":"")"><a href="@Url.Action("index", "categories", new { Area="manage" })"><i class="fas fa-list"></i><span>Kateqoriyalar</span></a></li>
                    <li class="@(controllerName == "companies"?"active":"")"><a href="@Url.Action("index", "companies", new { Area="manage" })"><i class="fas fa-hotel"></i><span>Şirkətlər</span></a></li>

                    <li class="@(controllerName == "vacancies"?"active":"")"><a href="@Url.Action("index", "vacancies", new { Area="manage" })"><i class="fas fa-user-check"></i><span>Vakansiyalar</span></a></li>
                    <li class="@(controllerName == "subscribers"?"active":"")"><a href="@Url.Action("index", "subscribers", new { Area="manage" })"><i class="fas fa-book-open"></i><span>İzləyicilərimiz</span></a></li>

                    <li class="g_heading">List №2</li>
                    <li class="@(controllerName == "partners"?"active":"")"><a href="@Url.Action("index", "partners", new { Area="manage" })"><i class="fas fa-user"></i><span>Tərəfdaşlarımız</span></a></li>
                    <li class="@(controllerName == "services"?"active":"")"><a href="@Url.Action("index", "services", new { Area="manage" })"><i class="fas fa-users-cog"></i><span>Xidmətlərimiz</span></a></li>
                    <li class="@(controllerName == "links"?"active":"")"><a href="@Url.Action("index", "links", new { Area="manage" })"><i class="fas fa-users-cog"></i><span>Faydalı linklər</span></a></li>
                    <li class="@(controllerName == "messages"?"active":"")"><a href="@Url.Action("index", "messages", new { Area="manage" })"><i class="fas fa-envelope"></i><span>Mesaj bölməsi</span></a></li>

                    <a type="button" href="@Url.Action("logout", "dashboard")" class="btn btn-primary">Çıxış</a>
                </ul>
            </nav>
        </div>

        <div class="right_sidebar">
            <div class="setting_div">
                <a href="~/Public/javascript:void(0);" class="rightbar_btn"><i class="fa fa-cog fa-spin"></i></a>
            </div>
            <ul class="nav nav-pills nav-fill flex-column flex-sm-row mx-3 my-3" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="Settings-tab" data-toggle="tab" href="~/Public/#Settings"
                       role="tab" aria-controls="Settings" aria-selected="true">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Contact-tab" data-toggle="tab" href="~/Public/#Contact" role="tab"
                       aria-controls="Contact" aria-selected="false">Contact</a>
                </li>
            </ul>
            <hr>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane show active" id="Settings" role="tabpanel" aria-labelledby="Settings-tab">
                    <div class="sidebar-scroll">
                        <div class="sidebar-widget px-3">
                            <h5>Theme Setting</h5>
                            <ul class="choose-skin list-unstyled">
                                <li data-theme="black">
                                    <div class="black"></div>
                                </li>
                                <li data-theme="azure">
                                    <div class="azure"></div>
                                </li>
                                <li data-theme="indigo" class="active">
                                    <div class="indigo"></div>
                                </li>
                                <li data-theme="purple">
                                    <div class="purple"></div>
                                </li>
                                <li data-theme="orange">
                                    <div class="orange"></div>
                                </li>
                                <li data-theme="green">
                                    <div class="green"></div>
                                </li>
                                <li data-theme="cyan">
                                    <div class="cyan"></div>
                                </li>
                                <li data-theme="blush">
                                    <div class="blush"></div>
                                </li>
                            </ul>
                            <ul class="setting-list list-unstyled mt-3">
                                <li>
                                    <label class="custom-switch">
                                        <span class="custom-switch-description">Dark Sidebar</span>
                                        <label class="toggle-switch switch-sm mb-0">
                                            <input type="checkbox" class="switch-dark">
                                            <span class="toggle-switch-slider"></span>
                                        </label>
                                    </label>
                                </li>
                                <li>
                                    <label class="custom-switch">
                                        <span class="custom-switch-description">Mini Sidebar</span>
                                        <label class="toggle-switch switch-sm mb-0">
                                            <input type="checkbox" class="switch-sidebar">
                                            <span class="toggle-switch-slider"></span>
                                        </label>
                                    </label>
                                </li>
                            </ul>
                            <hr>
                        </div>
                        <div class="sidebar-widget px-3">
                            <h5>Language Setting</h5>
                            <select class="selectpicker" title="Select language">
                                <option>English</option>
                                <option>Spanish</option>
                                <option>Chinese</option>
                                <option>Hindi</option>
                                <option>Arabic</option>
                            </select>
                            <hr>
                        </div>
                        <div class="sidebar-widget px-3">
                            <h5>General Setting</h5>
                            <ul class="setting-list list-unstyled mt-3">
                                <li>
                                    <label class="custom-switch">
                                        <span class="custom-switch-description">Report Panel Usage</span>
                                        <label class="toggle-switch switch-sm mb-0">
                                            <input type="checkbox" checked>
                                            <span class="toggle-switch-slider"></span>
                                        </label>
                                    </label>
                                </li>
                                <li>
                                    <label class="custom-switch">
                                        <span class="custom-switch-description">Email Redirect</span>
                                        <label class="toggle-switch switch-sm mb-0">
                                            <input type="checkbox" checked>
                                            <span class="toggle-switch-slider"></span>
                                        </label>
                                    </label>
                                </li>
                                <li>
                                    <label class="custom-switch">
                                        <span class="custom-switch-description">Notifications</span>
                                        <label class="toggle-switch switch-sm mb-0">
                                            <input type="checkbox">
                                            <span class="toggle-switch-slider"></span>
                                        </label>
                                    </label>
                                </li>
                                <li>
                                    <label class="custom-switch">
                                        <span class="custom-switch-description">Location Permission</span>
                                        <label class="toggle-switch switch-sm mb-0">
                                            <input type="checkbox" checked>
                                            <span class="toggle-switch-slider"></span>
                                        </label>
                                    </label>
                                </li>
                            </ul>
                            <hr>
                        </div>
                        <div class="sidebar-widget px-3">
                            <div class="progress-wrapper">
                                <h4 class="progress-label text-uppercase">New Project</h4>
                                <h4 class="progress-percentage text-uppercase">$950</h4>
                                <div class="progress" style="height: 5px;">
                                    <div class="progress-bar bg-purple" role="progressbar" aria-valuenow="40"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 40%;"></div>
                                </div>
                            </div>
                            <div class="progress-wrapper">
                                <h4 class="progress-label text-uppercase"> Admin</h4>
                                <h4 class="progress-percentage text-uppercase">$10k</h4>
                                <div class="progress" style="height: 5px;">
                                    <div class="progress-bar bg-orange" role="progressbar" aria-valuenow="78"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 78%;"></div>
                                </div>
                            </div>
                            <div class="progress-wrapper">
                                <h4 class="progress-label text-uppercase">Balance</h4>
                                <h4 class="progress-percentage text-uppercase">$50k</h4>
                                <div class="progress" style="height: 5px;">
                                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="55"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 55%;"></div>
                                </div>
                            </div>
                            <hr>
                            <div class="progress-wrapper">
                                <h4 class="progress-label text-uppercase">Storage</h4>
                                <h4 class="progress-percentage text-uppercase">35GB</h4>
                                <div class="progress" style="height: 5px;">
                                    <div class="progress-bar bg-red" role="progressbar" aria-valuenow="89"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 89%;"></div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary btn-block btn-animated btn-animated-x">
                                <span class="btn-inner--visible">Upgrade Now</span>
                                <span class="btn-inner--hidden"><i class="fas fa-arrow-right"></i></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="Contact" role="tabpanel" aria-labelledby="Contact-tab">
                    <div class="sidebar-widget px-3">
                        <ul class="list-unstyled contact-list">
                            <li class="d-flex align-items-center">
                                <span class="contact-img">
                                    <img src="~/Public/~/Publicassets/images/xs/avatar1.jpg" class="rounded" alt="">
                                </span>
                                <h4 class="contact-name">Vincent Porter <span class="d-block">London UK</span></h4>
                                <div class="action">
                                    <a href="~/Public/#" class="btn btn-sm btn-outline-primary"><i class="fab fa-skype"></i></a>
                                    <a href="~/Public/#" class="btn btn-sm btn-outline-primary">
                                        <i class="fa fa-envelope"></i>
                                    </a>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <span class="contact-img">
                                    <img src="~/Public/~/Public/assets/images/xs/avatar2.jpg" class="rounded" alt="">
                                </span>
                                <h4 class="contact-name">Mike Thomas <span class="d-block">London UK</span></h4>
                                <div class="action">
                                    <a href="~/Public/#" class="btn btn-sm btn-outline-primary"><i class="fab fa-skype"></i></a>
                                    <a href="~/Public/#" class="btn btn-sm btn-outline-primary">
                                        <i class="fa fa-envelope"></i>
                                    </a>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <span class="contact-img">
                                    <img src="~/Public/assets/images/xs/avatar3.jpg" class="rounded" alt="">
                                </span>
                                <h4 class="contact-name">Aiden Chavaz</h4>
                                <div class="action">
                                    <a href="~/Public/#" class="btn btn-sm btn-outline-primary"><i class="fab fa-skype"></i></a>
                                    <a href="~/Public/#" class="btn btn-sm btn-outline-primary">
                                        <i class="fa fa-envelope"></i>
                                    </a>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <span class="contact-img">
                                    <img src="~/Public/assets/images/xs/avatar4.jpg" class="rounded" alt="">
                                </span>
                                <h4 class="contact-name">Vincent Porter <span class="d-block">Miami USA</span></h4>
                                <div class="action">
                                    <a href="~/Public/#" class="btn btn-sm btn-outline-primary"><i class="fab fa-skype"></i></a>
                                    <a href="~/Public/#" class="btn btn-sm btn-outline-primary">
                                        <i class="fa fa-envelope"></i>
                                    </a>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <span class="contact-img">
                                    <img src="~/Public/assets/images/xs/avatar5.jpg" class="rounded" alt="">
                                </span>
                                <h4 class="contact-name">Mike Thomas <span class="d-block">Neyyork USA</span></h4>
                                <div class="action">
                                    <a href="~/Public/#" class="btn btn-sm btn-outline-primary"><i class="fab fa-skype"></i></a>
                                    <a href="~/Public/#" class="btn btn-sm btn-outline-primary">
                                        <i class="fa fa-envelope"></i>
                                    </a>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <span class="contact-img">
                                    <img src="~/Public/assets/images/xs/avatar6.jpg" class="rounded" alt="">
                                </span>
                                <h4 class="contact-name">Aiden Chavaz</h4>
                                <div class="action">
                                    <a href="~/Public/#" class="btn btn-sm btn-outline-primary"><i class="fab fa-skype"></i></a>
                                    <a href="~/Public/#" class="btn btn-sm btn-outline-primary">
                                        <i class="fa fa-envelope"></i>
                                    </a>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <span class="contact-img">
                                    <img src="~/Public/assets/images/xs/avatar7.jpg" class="rounded" alt="">
                                </span>
                                <h4 class="contact-name">Mike Thomas <span class="d-block">New Delhi IND</span></h4>
                                <div class="action">
                                    <a href="~/Public/#" class="btn btn-sm btn-outline-primary"><i class="fab fa-skype"></i></a>
                                    <a href="~/Public/#" class="btn btn-sm btn-outline-primary">
                                        <i class="fa fa-envelope"></i>
                                    </a>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <span class="contact-img">
                                    <img src="~/Public/assets/images/xs/avatar8.jpg" class="rounded" alt="">
                                </span>
                                <h4 class="contact-name">Aiden Chavaz</h4>
                                <div class="action">
                                    <a href="~/Public/#" class="btn btn-sm btn-outline-primary"><i class="fab fa-skype"></i></a>
                                    <a href="~/Public/#" class="btn btn-sm btn-outline-primary">
                                        <i class="fa fa-envelope"></i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()
    </div>

    <!-- Core -->
    <script src="~/Areas/Manage/Public/assets/bundles/libscripts.bundle.js"></script>
    <script src="~/Areas/Manage/Public/assets/bundles/vendorscripts.bundle.js"></script>

    <script src="~/Areas/Manage/Public/assets/bundles/c3.bundle.js"></script>
    <script src="~/Areas/Manage/Public/assets/bundles/jvectormap.bundle.js"></script> <!-- JVectorMap Plugin Js -->

    <script src="~/Areas/Manage/Public/assets/js/theme.js"></script>
    <script src="~/Areas/Manage/Public/assets/js/main.js"></script>
    <script src="~/Areas/Manage/Public/assets/js/pages/index.js"></script>
    <script src="~/Areas/Manage/Public/assets/js/pages/todo-js.js"></script>
</body>
</html>