@model IEnumerable<Vacancy.Models.Message>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manage/Views/Shared/_Layout1.cshtml";
    int sira = 1;
}

    <div class="page">
        <div id="room">
            <div class="header">
                <div class="row">
                    <div class="col-6">
                        <h1><i class="fas fa-envelope"></i>Mesajlar bölməsi</h1>
                    </div>
                </div>
            </div>

            <div class="room-list">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>№</th>
                            <th>Ad</th>
                            <th>Email</th>
                            <th>Telefon</th>
                            <th>Başlıq</th>
                            <th>Mesaj</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var items in Model)
                        {
                            <tr>
                                <td>
                                    @(sira++)
                                </td>
                                <td>
                                    @items.Name
                                </td>
                                <td>
                                    @items.Email
                                </td>
                                <td>
                                    @items.Phone
                                </td>
                                <td>
                                    @items.Subject
                                </td>
                                <td>
                                    @if (items.Text.Length < 30)
                                    {
                                        @items.Text
                                    }
                                    else
                                    {
                                        @items.Text.Substring(0, 30)
                                    }
                                </td>
                                <td>
                                    <a href="@Url.Action("details", "messages", new { Area = "Manage", Id = items.Id })" class="btn btn-success">Ətraflı</a>
                                    <a onclick="return confirm('@items.Subject başlıqlı mesajı silmək istədiyinizə əminsiniz?')" href="@Url.Action("delete",  new { Id = items.Id })" class="btn btn-danger text-white">Sil</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>